.TopBar {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
    font-size: small;
    text-align: left;
    padding: 1vw;
    background-color: #282c34;
    color: white;
  }
  